Flask==3.0.2
Flask-Mail==0.10.0
Flask-Session==0.8.0
gunicorn==23.0.0
pymongo==4.7.3
python-dotenv==1.0.1
werkzeug==3.0.1
dnspython==2.6.1
itsdangerous==2.1.2
bcrypt==4.1.2
cryptography==42.0.5
PyJWT==2.8.0
